@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@300;400;500;600&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
a:focus,
.button:focus,
button:focus,
textarea,
.btn:focus,
a:hover,
a:focus {
  outline: none;
  box-shadow: unset !important;
}
ul,
li,
a,
ul,
li,
a:hover,
a:hover,
a:focus {
  list-style: none;
  text-decoration: none;
}
html {
  height: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}
body {
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  box-sizing: border-box;
  transition: 0.3 !important;
  font-family: "Open Sans", sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
}
input,
textarea,
select {
  box-shadow: unset !important;
}
a,
input,
button,
textarea,
select {
  outline: none !important;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}
p {
  font-size: 15px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding-bottom: 0;
  margin-bottom: 0;
}
h1 {
  font-size: 36px;
  color: #690fa9;
  line-height: 46px;
  font-weight: 700;
}
h3 {
  font-size: 36px;
  line-height: 46px;
}
section {
  padding: 100px 0;
}
.content_block h3 span {
  color: #a548ff;
  font-weight: 300;
}
.bg_gray {
  background-color: #f0f0f0;
}
.btn_cap a {
  color: #a548ff;
}
/* button start  */
.btn.btn-solid:active {
  /* -webkit-box-shadow: inset 0 200px 0 rgb(0 0 0 / 10%); */
  box-shadow: inset 0 200px 0 rgb(0 0 0 / 10%);
}
.btn.btn-solid {
  color: #fff;
  border: none;
  padding: 17px 25px;
}
a.btn_custom {
  background-color: #690fa9;
  color: white;
  padding: 12px 20px;
  display: inline-block;
  border-radius: 4px;
  transition: 0.5s;
  text-transform: uppercase;
}
a.btn_custom:hover {
  background-color: #a548ff;
}
.btn_wrapp.d-flex.align-items-center {
  justify-content: flex-end;
  width: 27%;
}
.btn_transparent.mr-1 {
  border: 1px solid #690fa9;
  background: transparent;
  color: #690fa9;
}
.btn_transparent.mr-1:hover {
  background: #690fa9;
  color: white;
}
/* button end  */
/* header start  */
.login_btn a {
  color: #690fa9;
  text-transform: uppercase;
}
.site-nav {
  padding: 10px 20px;
  background-color: rgb(242, 232, 252);
  z-index: 9;
  position: relative;
}

.menu {
  list-style: none;
  padding-left: 0;
}
.menu a {
  padding: 10px 10px;
  display: block;
  position: relative;
}
.menu li > a:not(:only-child) {
  padding-right: 20px;
}
.menu li > a:not(:only-child)::after {
  content: "+";
  transform: translateY(-50%);
  position: absolute;
  right: 5px;
  top: 50%;
}

.menu ul {
  padding-left: 0;
  list-style: none;
}
.menu li {
  position: relative;
}
.menu li:hover > .sub-menu {
  display: block;
}
.menu .sub-menu {
  background-color: #fff;
  display: none;
}

@media (min-width: 768px) {
  .menu > li {
    display: inline-block;
  }
  .menu li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  .menu .sub-menu {
    min-width: 200px;
    display: block;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in;
    transform: scaleY(0.5);
    transform-origin: top;
    position: absolute;
    left: 0;
    top: 100%;
  }
  .menu li li .sub-menu {
    top: 0;
    left: 100%;
  }
  .menu li li .sub-menu {
    top: 0;
    left: 100%;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.logo_block {
  padding-right: 67px;
}
/* header end  */
/* banner start  */
section.banner {
  background: #f2e8fc;
}
.banner_img img {
  transform: translateY(-68px);
}
ul.menu li a {
  color: #690fa9;
  text-transform: uppercase;
  padding-right: 18px;
  /* display: inline-block; */
}
/* banner end  */
/* plan start  */
.start {

  padding: 20px 0 18px;

  background: #f7f7f7;
}
.price,.start,.descri_block{
  transition: 0.3s;
}
.plan_block.text-center:hover .start ,.plan_block.text-center:hover .descri_block{
  background-color: #a548ff;

}
.plan_block.text-center:hover .start h3,.plan_block.text-center:hover .descri_block{
  background-color: #a548ff;

}
.plan_block.text-center:hover .start h3,.plan_block.text-center:hover .price h1,.plan_block.text-center:hover .price small ,.plan_block.text-center:hover .descri_block p{
  color: #fff;

}
.plan_block.text-center:hover .price{
  background-color: #9248db;

}
.start:hover h3 {
  color: #fff;
}
.start h3 {
  color: #47484c;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 300;
}
.price {
  background: rgb(239 240 240);
  padding: 15px;
  font-weight: 300;
}
.price h1 {
  font-size: 115px;
  font-weight: 300;
  line-height: 125px;
  position: relative;
}
.price small {
  font-size: 20px;
  color: #690fa9;
  font-weight: 100;
}
.descri_block {
  background: #f7f7f7;
  padding: 68px;
}
.price h1 span {
  position: relative;
  font-size: 39px;
  font-size: 47px;
  line-height: 47px;
  font-weight: 500;
 
  top: -40px;
  left: 20px;
}
/* plan end  */
.services_title h5 {
  line-height: 27px;
  font-size: 16px;
  font-weight: 700;
}
.services_block p {
  font-size: 15px;
  color: #8a8a8a;
}
/* tab start  */

section#start_quize .tab_img img.img-flied {
  width: 100%;
}
section#start_quize a.nav-link h4 {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-weight: 700;
  color: #a548ff;
}
section#start_quize a.nav-link.active.show h4 {
  color: #fff;
}
section#start_quize a.nav-link.active h4 ,section#start_quize a.nav-link.active p{
  color: #fff;
}
section#start_quize a.nav-link p {
  color: black;
  color: #5f5f5f;
  font-weight: 500;
}
section#start_quize .nav-pills .nav-link.active, section#start_quize .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #a548ff;
}
section#start_quize .nav-pills .nav-link.nav-link.active.show p {
  color: white;
}
section#each-lead-stage ul#experienceTab li.nav-item {
  /* background: #a548ff; */
  width: 25%;
  text-align: center;
}
section#each-lead-stage .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #a548ff;
  border-radius: 0;
}
.border{
  border: 1px solid #ddd;
}
section#each-lead-stage .nav-link h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
section#each-lead-stage .nav-link {
  padding: 23px !important;
  display: block;
}
section#each-lead-stage .content_block h3 {
  color: #000000eb;
  font-weight: 300;
}
section#each-lead-stage .nav-link h4 {
  color: #5f5f5f;
}
section#each-lead-stage .nav-link.nav-link.active.show  h4 {
  color: #fff;
}

.counter-box p {
  font-size: 60px;
  color: #a548ff;
  font-weight: 300;
}
.footer_content a ,.footer_content ul li .fa{
  color: #a548ff;
}
.footer_content ul li .fa {
  font-size: 50px;
}
footer {
  background: rgba(27,27,27,.99);
  color: white;
  padding: 100px 0;
}
.footer_content p {
  color: white;
  padding-top: 20px;
}
.icon_block img {
  width: 55px;
}


/* HEADER STICKY  */
.sticky {
  top: 0;
  z-index: 99;
  width: 100%;
}
.sticky-bar {
  left: 0;
  margin: auto;
  position: fixed !IMPORTANT;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  background: #fff;
}
@keyframes fadeInDown {
  from {
      transform: translateY(0px);
      opacity: 0;
  }
  to {
      transform: translateY(50);
      opacity: 1;
  }
}
/* header.header {
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px !important;
  z-index: 999;
  
} */
/* HEADER STICKY end */


/* price plan start  */

.pricing-table {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  background: #ffffff;
}

.pricing-table .ptable-item {
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .pricing-table .ptable-item {
    width: 33.33%;
  }
}

@media (max-width: 768px) {
  .pricing-table .ptable-item {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .pricing-table .ptable-item {
    width: 100%;
  }
}

.pricing-table .ptable-single {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.pricing-table .ptable-header,
.pricing-table .ptable-body,
.pricing-table .ptable-footer {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.pricing-table .ptable-status ,
.pricing-table .ptable-title,
.pricing-table .ptable-price,
.pricing-table .ptable-description,
.pricing-table .ptable-action {
  position: relative;
  width: 100%;
  text-align: center;
}

.pricing-table .ptable-single {
  background: #f6f8fa;
}

.pricing-table .ptable-single:hover {
  box-shadow: 0 0 10px #999999;
}

.pricing-table .ptable-header {
  margin: 0 30px;
  padding: 30px 0 45px 0;
  width: auto;
  background: #2A293E;
}

.pricing-table .ptable-header::before,
.pricing-table .ptable-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 100px solid #f6f8fa;
}

.pricing-table .ptable-header::before {
  right: 50%;
  border-right: 250px solid transparent;
}

.pricing-table .ptable-header::after {
  left: 50%;
  border-left: 250px solid transparent;
}

.pricing-table .ptable-item.featured-item .ptable-header {
  background: #9b79b3;
}

.pricing-table .ptable-status {
  margin-top: -30px;
}

.pricing-table .ptable-status span {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  padding: 5px 0;
  text-align: center;
  color: #FF6F61;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  background: #2A293E;
}

.pricing-table .ptable-status span::before,
.pricing-table .ptable-status span::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 10px solid #FF6F61;
}

.pricing-table .ptable-status span::before {
  right: 50%;
  border-right: 25px solid transparent;
}

.pricing-table .ptable-status span::after {
  left: 50%;
  border-left: 25px solid transparent;
}

.pricing-table .ptable-title h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
}

.pricing-table .ptable-price h2 {
  margin: 0;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  margin-left: 15px;
}

.pricing-table .ptable-price h2 small {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  margin-top: 16px;
  margin-left: -15px;
}

.pricing-table .ptable-price h2 span {
  margin-left: 3px;
  font-size: 16px;
  font-weight: 300;
}

.pricing-table .ptable-body {
  padding: 20px 0;
}

.pricing-table .ptable-description ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pricing-table .ptable-description ul li {
  color: #2A293E;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 7px;
  border-bottom: 1px solid #dedede;
}

.pricing-table .ptable-description ul li:last-child {
  border: none;
}

.pricing-table .ptable-footer {
  padding-bottom: 30px;
}

.pricing-table .ptable-action a {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  background: #2A293E;
}

.pricing-table .ptable-action a:hover {
  color: white;
  background: #9b79b3;
}

.pricing-table .ptable-item.featured-item .ptable-action a {
  background: #690fa9;
  color: white;
}

.pricing-table .ptable-item.featured-item .ptable-action a:hover {
  color: #FF6F61;
  background: #2A293E;
}
.ptable-statuss {
  clip-path: polygon(0 0, 100% 0%, 100% 67%, 50% 100%, 0 66%);
  background: #690fa9;
  height: 46px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 54%;
  line-height: 38px;
  color: white;
  /* z-index: 999; */
  font-weight: 700;
}
/* price plan end  */